@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	/* =========================
   * COLORS
   * ========================= */

	/* base */
	--color-base-50: #fcfcfc;
	--color-base-100: #f1f2f4;
	--color-base-200: #f2f2f2;
	--color-base-300: #e8e8e8;
	--color-base-600: #96989b;
	--color-base-800: #8d8b8b;
	--color-base-950: #0f172a;

	/* primary */
	--color-primary-50: #ebf9f3;
	--color-primary-100: #53a83e;

	/* AI */
	--color-ai: #6366f1;

	/* Status */
	--color-status-success: #10b981;
	--color-status-warning: #f59e0b;
	--color-status-error: #e11d48;

	/* Misc */
	--color-light-yellow: #ffe1ad;

	/* =========================
   * SPACING
   * ========================= */

	--espaciado-xs: 3px;
	--espaciado-sm: 8px;
	--espaciado-md: 16px;
	--espaciado-lg: 24px;
	--espaciado-xl: 32px;

	/* =========================
   * BORDER RADIUS
   * ========================= */

	--border-radius-rounded-none: 0;
	--border-radius-rounded-sm: 2px;
	--border-radius-rounded: 4px;
	--border-radius-rounded-md: 6px;
	--border-radius-rounded-lg: 8px;
	--border-radius-rounded-xl: 12px;
	--border-radius-rounded-full: 9999px;

	/* =========================
   * BORDER WIDTH
   * ========================= */

	--borders-thickness-border: 1px;
	--borders-thickness-border-2: 2px;
	--borders-thickness-border-4: 4px;
	--borders-thickness-border-8: 8px;

	/* =========================
   * SHADOWS
   * ========================= */

	--shadows-shadow-offset-x: 0px;
	--shadows-shadow-offset-y: 4px;
	--shadows-shadow-blur: 8px;

	--shadows-color-10: rgba(0, 0, 0, 0.1);
	--shadows-color-20: rgba(0, 0, 0, 0.2);
	--shadows-color-30: rgba(0, 0, 0, 0.3);
	--shadows-color-40: rgba(0, 0, 0, 0.4);
	--shadows-color-50: rgba(0, 0, 0, 0.5);
	--shadows-color-60: rgba(0, 0, 0, 0.6);

	--font-sans: 'Geist', sans-serif;
	--font-mono: 'Geist Mono', monospace;
}

body {
	font-family: var(--font-geist), sans-serif;
	background-color: var(--color-base-50);
	color: var(--color-base-950);
}
