@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';
@import 'tailwindcss';

@import 'tailwindcss';

@theme {
	/* =========================
   * PRIMARY
   * ========================= */
	--color-primary: #03593f;
	--color-primary-hover: #003319;
	--color-primary-active: #001900;
	--color-primary-disabled: #03593f80;

	/* =========================
   * SNOW / BACKGROUND
   * ========================= */
	--color-snow: #fafafa;
	--color-snow-hover: #d4d4d4;
	--color-snow-active: #bababa;
	--color-snow-disabled: #fafafa80;

	/* =========================
   * TEXT
   * ========================= */
	--color-text: #0f172a;
	--color-text-hover: #000004;
	--color-text-active: #000000;
	--color-text-disabled: #0f172a80;

	/* =========================
   * SUCCESS
   * ========================= */
	--color-success: #10b981;
	--color-success-hover: #00935b;
	--color-success-active: #007941;
	--color-success-disabled: #10b98180;

	/* =========================
   * WARNING
   * ========================= */
	--color-warning: #f59e0b;
	--color-warning-hover: #cf7800;
	--color-warning-active: #b55e00;
	--color-warning-disabled: #f59e0b80;

	/* =========================
   * ERROR
   * ========================= */
	--color-error: #e11d48;
	--color-error-hover: #bb0022;
	--color-error-active: #a10008;
	--color-error-disabled: #e11d4880;

	/* =========================
   * AI
   * ========================= */
	--color-ai: #6366f1;
	--color-ai-hover: #3d40cb;
	--color-ai-active: #2326b1;
	--color-ai-disabled: #6366f180;

	/* =========================
   * MUTED
   * ========================= */
	--color-muted: #96989b;
	--color-muted-hover: #707275;
	--color-muted-active: #56585b;
	--color-muted-disabled: #96989b80;

	/* =========================
   * BORDER
   * ========================= */
	--color-border: #e5e7eb;
	--color-border-hover: #bfc1c5;
	--color-border-active: #a5a7ab;
	--color-border-disabled: #e5e7eb80;

	/* =========================
   * LIGHT STATES
   * ========================= */
	--color-success-light: #ebf9f3;
	--color-warning-light: #ffe1ad;

	--font-sans: 'Geist', sans-serif;
	--font-mono: 'Geist Mono', monospace;
}

body {
	font-family: var(--font-geist), sans-serif;
}
